<button class= "btn btn-primary" style="margin-top: 20px; background-color:  white;"><%= link_to 'Submit link', new_link_path %></button>
<h2>Instructions </h2>
<p> 1) J J ali arule ni padnu parcha wa hernu parcha jasto lagcha tesko link hala. Title ma chai tyo link ma bhako main kura rakha ani aru kei besi dhyaan dinu parne kura cha tyo link ma bhane comment gardeu </p>
	<p>2) Link hereko cha (tesko content padeko cha) bhane upvote gara.</p>
	<p>3) Link post bha dekhya cha tara padyachaina bhane downvote. </p>
	<p>4) J hos pachi reference leko bhanera yo link haru halna kaam lagos documentation ma ra afulai feri reference lina lai pani pachi. Link ko comment section majjale use gara tesaile afulai notes rakhna lai ni.</p>
<p>5) Comment section ma important timestamps halna milyo video ko.. main line halna milyo articles haru ko. Tei topic ko bare</p>
<p>6) Harek din check garne bani ra post garne bani basala. </p>
<h4> ##Hami 3 jana bhanda aru lai link nadinu## </h4>

<% @links.each do |link| %>
  <div class="link row clearfix">
    <h2>
      <%= link_to link.title, link %><br>
      <small class="author">Submitted <%= time_ago_in_words(link.created_at) %> by <%= link.user.name %></small>
    </h2>
	<div class="btn-group">
		<a class="btn btn-default btn-sm" href="<%= link.url %>">Visit Link</a>
		<%= link_to like_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
		<span class="glyphicon glyphicon-chevron-up"></span>
		Upvote
		<%= link.get_upvotes.size %>
		<% end %>
		<%= link_to dislike_link_path(link), method: :put, class: "btn btn-default btn-sm" do %>
		<span class="glyphicon glyphicon-chevron-down">
		Downvote
		<%= link.get_downvotes.size %>
		<% end %>
	</div>
	</div>
<% end %>
